{% extends "include/base.html" %}
{% block title %}Избранные авторы{% endblock %}
{% block header %}Посты на основе ваших подписок{% endblock %}
{% load cache %}

{% block content %}
    {% include "menu.html" with index=True %}

    {% cache 20 index_page %}

        {% for post in page %}
            {% include "posts/post_item.html" with post=post %}
        {% endfor %}

        {% if page.has_other_pages %}
            {% include "include/paginator.html" with items=page paginator=paginator %}
        {% endif %}

    {% endcache %}
{% endblock %}
