{% extends "include/base.html" %}
{% block title %}Профиль пользователя {{ author.username }}{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            {% include 'posts/author_info.html' %}

            <div class="col-md-9">
                <!-- Остальные посты -->
                {% for post in page %}
                    {% include 'posts/post_item.html' %}
                {% endfor %}

                {% if page.has_other_pages %}
                    {% include "include/paginator.html" with items=page paginator=paginator %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}